<div class="hero-body">
    <div class="container has-text-centered">
        <p class="title">
            Coding Challenge
        </p>
        <p class="subtitle">
            This is the web version of the coding challenge.
        </p>
        <form action="/upload" method="post" enctype="multipart/form-data">
            <h3 class="is-secondary">Upload Your File</h3> 
            <input type="file" name="matches" required class="button" />
            <input type="submit" value="submit" class="button is-primary">  
        </form>
        <script>
            document.getElementById('#home-link').classList.add('is-active')
        </script>
    </div>
</div>


