{{!-- <div class="hero-body"> --}}
    <div class="container py-6">
        <p class="title">
            Output
        </p>
        <p style="white-space: pre-line" class="is-size-4 mb-4">
            {{{ outputString }}}
        </p>
        <a href="/"><button class="button is-primary">Back to Home</button></a>
    </div>
{{!-- </div> --}}